.patientDetails {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.title {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 111, 231);
    text-align: center;
    margin-bottom: 10px;
}
.body {
    width: 100%;
    border: 1px solid rgb(176, 178, 183);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgb(50, 113, 191);
    margin: 10px 0;
}
.name {
    font-size: 15px;
    font-weight: 500;
}
.value {
    font-size: 16px;
    font-weight: 600;
}
.patient_info_field {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.patient_info {
    border: 1px dotted rgb(50, 113, 191);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
}
.patientTreatment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    border: 1px solid rgb(176, 178, 183);
    border-radius: 5px;
    padding: 10px;
}
.treatmentName {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(41, 111, 231);
}
.treatmentStatus_new {
    font-size: 18px;
    color: rgb(33, 64, 217);
    font-weight: 600;
    border-bottom: 1px dotted rgb(33, 64, 217);
}
.treatmentStatus_hold {
    font-size: 18px;
    color: rgb(231, 92, 28);
    font-weight: 600;
    border-bottom: 1px dotted rgb(231, 92, 28);
}
.treatmentStatus_progress {
    font-size: 18px;
    color: rgb(16, 179, 86);
    font-weight: 600;
    border-bottom: 1px dotted rgb(16, 179, 86);
}
.noStatus {
    font-size: 16px;
    color: rgb(33, 71, 93);
    font-weight: 600;
    border-bottom: 1px dotted rgb(33, 71, 93);
    margin-left: 10px;
}
.treatmentChange_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    border: 1px dotted rgb(41, 111, 231);
    padding: 5px 10px;
    border-radius: 3px;
}
.treatmentChange {
    width: 60px;
    border: 1px solid rgb(228, 63, 21);
    border-radius: 3px;
    outline: none;
    padding: 3px;
    font-size: 13px;
    text-align: center;
    color: rgb(228, 63, 21);
    cursor: pointer;
}
.treatmentChange:hover {
    background-color: rgb(228, 63, 21);
    color: white;
}