* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:1.1rem;
}
.main {
  margin: 3rem auto;
  width: 100%;
  padding: 0 10%;
}
h1{
  font-size: 2rem;
}
h2{
  font-size:1.5rem;
}
h3{
font-size:1.2rem;
}
hr{
  margin: 1rem 0;
  border: 1px solid #f1f1f1;
}

a{
  text-decoration: none;
}