.headerToolScroll {
    background:#32384d;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 30px 10px;
    z-index: 1000;
}
.headerTool {
    background: #32384d;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 35px 10px;
    z-index: 1000;
}
.headerToolResponsive {
    display: none;
}
.navToolbarLink {
    font-size: 16px;
    font-weight: 400;
    color: white!important;
    margin: 0 7px!important;
    cursor: pointer;
}
.notification {
    padding: 5px;
    transform: translateX(-50%);
    cursor: pointer;
    margin: 10px 7px 0 20px!important;
    position: relative;
}
.notify_icon {
    width: 30px;
}
.pri_counter {
    background: #ef5350;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 16px;
    width: 17px;
    height: 15px;
    font-size: 10px;
    padding-top: 1px;
}
.dropdown {
    width: 300px;
    position: absolute;
    right: 5px;
    top: 50px;
    transform: translate(-50%);
    transition: visibility .3s, opacity 0.3s linear;
}
.closed {
    visibility: hidden;
    opacity: 0;
}
.arrow {
    position: absolute;
    left: 5px;
    transform: translate(-50%, -7px);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
}
.header {
    background: #ffffff;
    width: 100%;
    height: 44px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #D5DFE4;
    font-size: 16px;
    line-height: 18px;
}
.container {
    width: 40%;
    margin: 0px auto;
    padding-top: 12px;
 }
 .notif_Head {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    color: #546E7A;
  }
  .sec_counter {
    background: #ef5350;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    width: 19px;
    font-size: 13px;
    height: 18px;
    margin-left: 5px;
    display: inline-block;
  }
 .items {
    background: #f0f4f6;
    width: 100%;
    max-height: 256px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
    transition: background-color 0.5s;
  }
.toolbar {
    width: 100%!important;
    justify-content: flex-end;
}
.navToolbarLink:hover {
    text-decoration: none!important;
}
.navigation {
    width: 100%!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbarLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.navbarLogoImg {
    width: 120px;
    margin-left: 30px;
}
.navbarSearch {
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0!important;
}
.navbarSearchIcon {
    font-size: 15px;
    color: white;
}
.navbarSearchInput {
    background: none;
    border: none;
    outline: none;
    height: 43px;
    width: 100%;
    margin-left: 5px;
    font-size: 12px;
    color: white;
}
.navbarSearchInput::placeholder {
    color: white;
    font-size: 14px;
    opacity: 1;
  }
.headerToolResponsiveScroll {
    display: none;
}
.navResponsiveToolbarLink {
    font-size: 14px;
    color: white;
    margin: 0 7px;
}
.navbarSignInResponsive {
    display: none;
}

.profile {
    background-color: #32384d;
    border-radius: 50%;
}
.flexRow {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 15px;
}
.userName {
    font-size: 18px;
    color: #32384d;
    margin-top: 12px;
}
.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}




@media screen and (max-width: 730px) {
    .headerToolResponsiveScroll {
        display: block;
        display: none;
        background: #191a1d;
        opacity: 0.7;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: 30px 7px;
        z-index: 1000;
    }
    .headerToolResponsive {
        opacity: 0.7;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 30px;
        padding: 30px 7px;
        z-index: 1000;
    }
    .navResponsiveToolbarLink {
        font-size: 14px;
        color: white!important;
        margin: 0 7px!important;
    }
    .headerTool {
        display: none;
    }
    .headerToolScroll {
        display: none;
    }
}
@media screen and (max-width:630px) {
    .headerToolResponsive {
        background: none;
        opacity: 0.7;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 25px;
        padding: 25px 4px;
        z-index: 1000;
    }
    .navbarLogoImg {
        display: none;
    }
}




.position {
    position: relative;
}
.notificationModal {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgb(98, 157, 251);
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.notifyModal_header {
    background-color: rgb(0, 179, 255);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notifyModal_headerText {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 600;
}
.notify_body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.modal_text {
    margin: 5px 0;
    font-size: 16px;
    color: rgb(10, 124, 200);
}
.modal_note {
    margin: 10px 0;
    font-size: 15px;
    color: #417fcb;
    border-bottom: 1px dotted rgb(53, 67, 191);
}
.closeBtn {
    cursor: pointer;
}
.modal_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.modal_confirm {
    padding: 7px 10px;
    width: 120px;
    font-size: 16px;
    color: white;
    background-color: rgb(25, 126, 213);
    border: none;
    border-radius: 5px;
    outline: none;
}
.modal_cancel {
    padding: 7px 10px;
    width: 120px;
    font-size: 16px;
    color: white;
    background-color: rgb(230, 62, 29);
    border: none;
    outline: none;
    border-radius: 5px;
}


.notificationModal2 {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 400px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgb(98, 157, 251);
    border-radius: 5px;
    border-left: 10px solid rgb(62, 129, 236);
    font-size: 22px;
    font-weight: 500;
    color:rgb(98, 157, 251);
    z-index: 100;
}
.patientName {
    font-size: 24px;
    color: rgb(19, 100, 232);
}
.modal2_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.modal2_confirm_btn {
    padding: 3px 5px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgb(25, 126, 213);
    border: none;
    border-radius: 5px;
    outline: none;
}
.modal2_cancel_btn {
    padding: 3px 5px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgb(230, 62, 29);
    border: none;
    outline: none;
    border-radius: 5px;
}